.niuka-image-panel {
  position: relative;
  margin: 0 10px 10px 0;
  border: 1px solid #cfd8e6;
  width: 180px;
  height: 100px;

  &:hover {
    border-color: #2293e6;
  }

  .mark {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    padding: 5px;
    width: 100%;
    height: 32px;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    color: #fff;
    box-sizing: border-box;

    .mark-title {
      width: 100%;
    }

    .el-icon {
      flex-shrink: 0;
      cursor: pointer;
    }
  }

  &:hover .mark {
    background: #2293e6;
  }

  .delete {
    position: absolute;
    top: -8px;
    right: -8px;
    display: flex;
    border-radius: 50%;
    overflow: hidden;
    width: 20px;
    height: 20px;
    background: #fff;
    cursor: pointer;
    color: #959ca6;
    font-size: 20px;
    z-index: 1;
  }

  .hover {
    display: none;
    color: #2293e6;
  }

  &:hover .default {
    display: none;
  }

  &:hover .hover {
    display: block;
  }

  .el-image {
    width: 100%;
    height: 100%;
  }
}
