.theme-default-content:not(.custom), .page .page-nav {
	max-width: calc(100% - 312px);
	margin-left: 0;
}

@media screen and (max-width: 1200px) {
	.theme-default-content:not(.custom), .page .page-nav {
		max-width: 100%;
	}
}

.side-anchor {
	width: 200px !important;
	right: 48px !important;
	border-left-color: #3eaf7c !important;
}

.side-anchor-link.active {
	color: #3eaf7c !important;
}

.niuka-table {
	margin: 1rem 0;

	table {
		margin: 0;
	}

	th, tr, td {
		border: 0 none;
	}
}
